.claims-container {
  display: flex;
  flex-grow: 1;
}

.claims-container .left-section {
  background: #f4f7ff;
  width: 415px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 415px;
  border-right: 2px solid #4686fa;
}

.claims-container .top-left {
  display: flex;
  align-items: center;
}

.claims-container .top-panel svg {
  color: #4686fa;
  margin-right: 8px;
}

.claims-container .top-left h1 {
  color: #000000cc;
  margin: 0px 8px 0px 0px;
  font-size: 24px;
}

.claims-container .top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px 8px;
  flex-wrap: wrap;
}

.claims-container .search-input {
  margin-top: 24px;
  position: relative;
  width: 100%;
}

.claims-container .search-input input {
  width: 100%;
  height: 32px;
  border: 1px solid #707070a6;
  border-radius: 17px;
  padding: 0px 30px 0px 15px;
  outline: none;
}

.claims-container .search-input svg {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #00000063;
}

.claims-container .card-wrapper {
  overflow-y: scroll;
  padding: 24px 32px 0px;
  flex-grow: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.claims-container .card-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.claims-container .card-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.claims-container .right-section {
  flex-grow: 1;
  max-height: 100vh;
  overflow: scroll;
}

.claims-container .report-checklist-wrapper {
  display: flex;
  padding: 16px 16px 0px 16px;
}

.claims-container .report-details {
  display: flex;
}

.claims-container .section-map {
  flex-grow: 1;
}

.claims-container .section-map .map-wrapper {
  height: 100%;
  width: 100%;
}

.fallback-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #7c7c7c;
}

@media (max-width: 1279px) {
  .claims-container {
    display: flex;
    width: 200%;
    transition-duration: 400ms;
    height: auto;
    padding-top: 140px;
  }

  .claims-container.active {
    transform: translate(-50%, 0px);
  }

  .claims-container .left-section {
    width: 100vw;
    border-right: 0;
    min-width: unset;
    height: auto;
  }
  .claims-container .top-panel {
    padding: 16px;
  }
  .claims-container .card-wrapper {
    padding: 16px;
    padding-top: 0px;
  }
  .claims-container .right-section {
    width: 100vw;
    max-height: unset;
  }

  .claims-container .report-details {
    display: block;
  }

  .claims-container .report-checklist-wrapper {
    display: block;
    padding: 16px;
  }

  .claims-container .section-map {
    height: 500px;
  }
  
  .claims-container .search-input {
    margin-top: 16px;
  }
}
