.popup-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup-overlay .popup-container {
  height: 250px;
  width: 40vw;
  background: #fff;
  padding: 32px;
  position: relative;
}

.popup-overlay .top-section {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.popup-overlay .title {
  flex-grow: 1;
  font-size: 24px;
  font-weight: bold;
}

.popup-overlay .icon-wrapper {
  font-size: 20px;
  margin-right: 8px;
}

.popup-overlay .description {
  font-size: 16px;
  line-height: 1.5;
}

.popup-overlay .popup-button {
  position: absolute;
  right: 32px;
  bottom: 32px;
  border: 0px;
  outline: 0px;
}

.popup-overlay .popup-button button {
  border: 0px;
  outline: 0px;
  color: #fff;
  padding: 10px 50px;
  cursor: pointer;
}


@media (max-width: 1279px) {
  .popup-overlay {

  }
  .popup-overlay .popup-container {
    padding: 16px;
    height: 100vh;
    width: 100vw;
  }

  .popup-overlay .popup-button {
    right: 16px;
    bottom: 16px;
  }

}