body * {
  box-sizing: border-box;
}

svg {
  cursor: pointer;
}

#root {
  display: flex;
}

@media (max-width: 1279px) {
  #root {
    display: block;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
  }
}